/* * {
    border: 1px solid red;
} */

.card-img-top {
    width: 40%;
    border-top-left-radius: calc(.25rem - 1px);
    border-top-right-radius: calc(.25rem - 1px);
}

.nav-link {
    cursor: pointer;
}

body {
    background: honeydew;
}

a:hover {
    cursor: pointer;
}